@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

header{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 40px;
    color: white;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 2px solid #434343;
}

main{
    padding: 20px 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.cartao{
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    background-color: #191b1d;
    color: white;
    margin-bottom: 40px;
}

.cartao > img{
    width: 100%;
}

.texto, .botao{
    padding: 20px;
    color: #FFFFFF;
    text-align: center;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5C0D78;
}
